* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary: #2a004e;
$text-section-bg: khaki;
$button-section-bg: azure;
$button-bg: red;

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: "20px";
  cursor: none;

  .text-section {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: $text-section-bg;

    .text {
      font-size: 120px;
      cursor: none;
      color: $primary;

      @media (max-width: 768px) {
        font-size: 80px;
      }
    }
  }
  .button-section {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: $button-section-bg;

    button {
      background-color: $button-bg;
      color: $button-section-bg;
      border: none;
      outline: none;
      cursor: none;
      font-size: 2rem;
      padding: 2rem 1.5rem;
    }
    &:focus {
      outline: none;
    }
  }
}

.custom-cursor-text {
  position: fixed;
  pointer-events: none;
  border-radius: 100%;
  translate: -50% -50%;
  transition: font-size 1s;
  background-color: $text-section-bg;
}
.custom-cursor-button {
  position: fixed;
  pointer-events: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $primary;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, $primary 0%, transparent 60%);
  animation: rotatePulse 1.5s infinite ease-in-out;
}
.clicked {
  background: radial-gradient(circle, white 0%, $primary 60%);
  animation: clickedEffect 0.6s forwards;
}

@keyframes rotatePulse {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

@keyframes clickedEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.7;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
